server:
  port: 8880

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/football?useSSL=false&serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update        # ?? ???? update? ??
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQL8Dialect

  jackson:
    property-naming-strategy: SNAKE_CASE

  flyway:
    enabled: true
    locations: classpath:db/migration

logging:
  level:
    root: INFO
    org.hibernate.SQL: DEBUG
    org.springframework.web.client: DEBUG

# API-Football ??
apifootball:
  base-url: https://api-football-v1.p.rapidapi.com/v3
  api-key: YOUR_API_KEY_HERE
  host: api-football-v1.p.rapidapi.com
